body{
    margin: auto;
    background-color: #0f172a;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #64748b;
}

nav img {
    width: max(60px, 6vw);
    height: max(60px, 6vw);
    background-color: #64748b;
}

nav button {
    font-size: max(1.4rem, 2.5vw);
    text-decoration: none;
    color: #0f172a;
    font-weight: bold;
    border-style: none;
    background-color: #64748b;
    cursor: pointer;
}
#content {
    display: flex;
    justify-content: center;
}
nav button:hover {
    transition: .3s;
    color: #cacaca;
    font-size: max(1.4rem, 2.5vw);
}

img.body-img {
    width: 35vw;
    height: 35vw;
}

.container {
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: fit-content;
    background-color: #64748b;
    font-size: max(4.5rem, 5vw);
    gap: 25px;
    padding: 50px;
}

.container#food {
    margin-top: 20px;
    width: 80%;
}

.container#contact {
    font-size: 1.3rem;
    align-items: start;
}

.foodery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.description {
    font-size: 1.3rem;
    max-width: 80%;
}

.formatation {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
}

.name {
    font-size: 2.5rem;
    color: #413f3f;
}

.information {
    font-size: 1.3rem;
    font-weight: bold;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.foodery img {
    width: 15vw;
    height: 15vw;
}

@media (max-width: 976px) {
    .formatation {
        flex-direction: column;
    }
    .foodery img {
        width: 30vw;
        height: 30vw;
    }
    .container img {
        width: 40vw;
        height: 40vw;
    }
    .container {
        width: 60%;
    }
    #food.container {
        width: 60%;
    }
    .information {
        max-width: 80%;
    }
}

